/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$dark-green-palette: (
  50: #ebf3e5,
  100: #d0e0c0,
  200: #b2cd98,
  300: #96bb6f,
  400: #81ad51,
  500: #6e9f32,
  600: #63912a,
  700: #568021,
  800: #4a7019,
  900: #33520a,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);

$dark-purple-palette: (
  50: #e7e6f0,
  100: #c3c0da,
  200: #9d98c2,
  300: #7970a9,
  400: #615297,
  500: #4a3586,
  600: #452e7d,
  700: #3d2572,
  800: #351b66,
  900: #280851,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);

$light-green-palette: (
  50: #e9f7e7,
  100: #caeac3,
  200: #a8dd9d,
  300: #83d173,
  400: #65c652,
  500: #4ebb34,
  600: #43ac2b,
  700: #36991f,
  800: #2a8814,
  900: #116900,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text
  )
);

$light-purple-palette: (
  50: #f4e7f7,
  100: #e3c2eb,
  200: #d299df,
  300: #bf71d1,
  400: #b152c6,
  500: #a337bc,
  600: #9533b5,
  700: #812dad,
  800: #7029a5,
  900: #502196,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);

$light-primary: mat.define-palette($light-green-palette, 300, 100, 600);
$light-accent: mat.define-palette($light-purple-palette);

$dark-primary: mat.define-palette($dark-green-palette, 700, 500, 900);
$dark-accent: mat.define-palette($dark-purple-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent
  )
))

@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);

.light-theme {
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}

