name: Manual Release

on: workflow_dispatch

env:
  NX_RUN_GROUP: ${{ github.run_id }}
  NX_CLOUD_DISTRIBUTED_EXECUTION: false
  NX_CLOUD_AUTH_TOKEN: ${{ secrets.NX_CLOUD_TOKEN }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master

      - name: Node/Pnpm Install
        uses: ./.github/actions/install-node-pnpm.yml

      - name: Docker BuildX Install and Cache
        id: builder
        uses: ./.github/actions/docker-with-cache.yml

      - name: Build Projects
        shell: bash
        run: |
          pnpm nx run-many --target=package --configuration=ci --builder=${{ steps.builder.outputs.builder}} --parallel

      - name: Docker List Images
        shell: bash
        run: docker image ls
